.message_out{
    border: 1px solid grey;
    margin-bottom: 25px;
    text-align: center;
    box-sizing: border-box;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    background-color: darkslategrey;
    color: whitesmoke;
}