.pagination_wrap {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.pagination_wrap span {
    margin-left: 5px;
    cursor: pointer;
    font-size: medium;
}

.selected_page {
    font-weight: bold;
}

.prev_btn {
    width: 20px;
    cursor: pointer;
}

.next_btn {
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
}