.form_wrapper {
    display: flex;
}

.job_wrap {
    display: flex;
    font-size: small;
}

.job_wrap input {
    margin-right: 5px;
}

.form_item {
    margin-bottom: 10px;
    font-size: small;
}

.contacts_item {
    margin-left: 15px;
}

.error_message :only-child {
    color: red;
}



