.description {
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    height: 202px;
    padding-left: 10px;
}

.name_status{
    margin-bottom: 15px;
    margin-left: 10px;
    /* border-bottom: 1px solid grey; */
}









