.wrapper {
    flex-direction: column;
    display: flex;
}

.photo_wrap {
    height: 202px;
}

.photo_wrap :first-child {
    width: 200px;
    height: 200px;
    border: 1px solid darkslategrey;
    border-radius: 10px;
}