.app-wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "h h"
            "n p";
}

.header{
    grid-area: h;
    background-color: dodgerblue;
}

.nav{
    grid-area: n;
    background-color: silver;
}

.profile{
    grid-area: p;
    background-color: tomato;
}

.header img{
    width: 50px;
}

#main-img {
    width: 1138px;
    height: 300px;
}
