*{
    margin: 0;
    padding: 0;
}

.app-wrapper{
    margin: 0 auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "h h"
            "n p";
}


