*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

.app-wrapper{
    margin: 0 auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "h h"
            "n p";
}

.content {
    grid-area: p;
    background-color: whitesmoke;
    margin-right: 10px;
    box-sizing: border-box;
    width: 1095px;
}


